.toolbar {
    background: purple;
    height: 4rem;
    width: auto;
    padding: 10px;
    justify-content: space-between;
    display:flex;
    align-items: center;

    
}

.toolbar h1 {
    color: white;
    text-align: left;
}

.toolbar .img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar .img-container img {
    padding: 5px;
    background: white;
    height: 2rem;
    width: 2rem;
}



.toolbar .right {
    display: flex;
}